services:
  mongo:
    image: mongo:7
    container_name: terraflow-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - terraflow_mongo_data:/data/db

volumes:
  terraflow_mongo_data:
